* {
    box-sizing: border-box;
    width: 100%;
}

element {}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    background: #E3A386;
}

.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#Aegean {
    width: 25%;
    clear: both;
}

ul h2#name {
    color: #4C9C92;
    text-shadow: 2px 2px 2px rgba(67, 139, 131, 0.562);
}

#greg {
    border-radius: 5px;
    float: right;
    clear: inherit;
    margin-left: 10px;
    width: 15ch;
    color: #E38459;
}


/*
Osman
Style the footer 
*/

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}


/*  
Osman
Style the header
 */

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    box-shadow: 0 0 4px black;
    position: relative;
}


/* 
Rosa 
Create two columns/boxes that floats next to each other 
*/

nav {
    float: left;
    height: 100%;
    width: 5%;
    font-size: 2em;
}


/*
Rosa
Style the list inside the menu 
*/

nav ul {
    list-style-type: none;
    padding: 0px;
    width: 100%;
}

nav li a {
    width: 100%;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #c7744e;
    style
}

a:visited {
    color: #00FFE3845900;
}

a:hover {
    color: #f1f1f1;
}

nav li:hover {
    background-color: #c7744e;
}


/* 
Rosa
*/

article {
    float: left;
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
    color: #E3A386;
    height: 100%;
    overflow: hidden scroll;
    box-shadow: 0 0 5px black;
}

section {
    height: 100%;
    width: 100%;
}

#box {
    /*    padding-right: 10%; */
    display: flex;
    justify-content: center;
    border-style: solid;
    border-radius: 3px;
    padding-right: 5%;
}


/* Clear floats after the columns */

section:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */

@media screen and (max-width: 800px) {
    nav {
        float: none;
        width: 100%;
    }
    #articleID {
        clear: both;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1600px) {
    nav {
        float: none;
        width: 100%;
        height: auto;
    }
    #articleID {
        width: max-content;
        height: auto;
    }
}

.open {
    width: 95%;
}

.closed {}

#menubutton {
    width: 100%;
    border: none;
    box-shadow: 0 0 0;
    background: none;
    color: #4C9C92;
    font-size: 1.5em;
}

#menubutton:hover {
    background-color: #E38459;
    width: 100%;
}